<template>
  <q-page class="flex flex-center">
    <div class="row full-width justify-center items-center q-pa-md">
      <div class="search-box column col-12 col-sm-11 col-md-9 col-xl-7 q-px-md justify-center">
        <div class="row full-width items-center q-pa-md">
          <div class="inline-block q-mr-md">
            <span>Search by release date: </span>
          </div>
          <div class="col-12 col-md-5">
            <div class="row">
              <div class="col-12 col-sm-5">
                <q-input ref="startDateRef" v-model="startDate" :bg-color="$q.dark.isActive ? '' : 'white'"
                         class="no-bottom-input" clearable dense
                         filled hide-bottom-space mask="####-##-##" no-error-icon placeholder="from" :rules="[date]"/>
              </div>
              <div class="col-12 col-sm-5">
                <q-input ref="endDateRef" v-model="endDate" :bg-color="$q.dark.isActive ? '' : 'white'"
                         class="no-bottom-input" clearable dense
                         filled hide-bottom-space mask="####-##-##" no-error-icon placeholder="to" :rules="[date]"/>
              </div>
              <div class="col-12 col-sm-2 text-center">
                <q-btn color="primary" icon="event" round>
                  <q-popup-proxy ref="qDateProxy" cover transition-hide="scale" transition-show="scale"
                                 @before-show="updateProxy">
                    <q-date v-model="pickerDate" range @range-start="startRangeSelected" @range-end="endRangeSelected" mask="YYYY-MM-DD">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup color="primary" flat label="Close"/>
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-btn>
              </div>
            </div>
          </div>
          <q-space/>
          <div :class="$q.screen.lt.md ? 'col-12 text-center q-mt-md':''">
            <q-btn color="primary" label="search" rounded @click="filterMovies"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row full-width justify-center q-my-xl">
      <div class="col-12 col-sm-11 col-md-9 col-xl-7">
        <div v-if="movies && movies.length > 0" class="row">
          <div v-for="(movie, index) in movies" :key="index" class="column col-12 col-sm-6 col-md-4 col-xl-3 q-pa-md"
               style="min-height: 200px"
               @click="goToDetailPage(movie.id)">
            <q-card bordered class="fit cursor-pointer image-list-item" flat>
              <q-card-section class="q-pa-xs" horizontal>
                <q-img
                  :src="imageBaseUrl + movie.poster_path"
                  class="col-5"
                />
                <q-card-section class="column justify-between">
                  <div><span class="text-bold">{{ movie.title }}</span></div>
                  <div class="column">
                    <span class="text-caption"><q-icon class="q-mr-xs"
                                                       name="calendar_today"></q-icon>{{ movie.release_date }}</span>
                    <span>
                      <span v-for="(genre, index) in store.getGenresName(movie['genre_ids'])" :key="'genre'+index">
                        <span v-if="index!==0" class="text-bold q-ml-xs">&bull;</span> {{ genre }}
                      </span>
                    </span>
                  </div>
                </q-card-section>
              </q-card-section>
            </q-card>
          </div>
        </div>
        <div v-else-if="!loading" class="column items-center">
          <div class="delay-2s animated jello slower" style="font-size: 100px;">(·_·)</div>
          <div><span class="text-negative" style="font-size: 28px">/ No result \</span></div>
        </div>
        <q-inner-loading :showing="loading">
          <q-spinner-bars color="primary" size="4em"/>
        </q-inner-loading>
      </div>
      <div class="col-12 column items-center q-mt-md" v-if="pagination.totalCount > 0">
        <q-pagination :class="$q.screen.lt.sm ? 'col-xs-10':''"
                      :max="pagesNumber"
                      :model-value="pagination.page"
                      class="q-pr-sm"
                      color="primary"
                      input
                      input-class="text-cyan text-bold"
                      @update:model-value="onRequest"/>
      </div>
      <div class="col-12 column items-center q-mt-md" v-if="pagination.totalCount > 0">
        <span>Showing results {{ showingResultsInfo }} from {{ pagination.totalCount }}</span>
      </div>
    </div>
  </q-page>
</template>

<script>
import {defineComponent, computed, ref} from 'vue'
import {useRoute, useRouter} from 'vue-router'
import {useSharedData} from 'stores/shared-data'
import {movieService} from 'src/services'
import {date} from "src/helpers/validation"

export default defineComponent({
  name: 'IndexPage',
  setup() {
    const route = useRoute()
    const router = useRouter()
    const store = useSharedData()
    let loading = ref(false);
    let startDate = ref(route.query['startDate']);
    let startDateRef = ref(null);
    let endDate = ref(route.query['endDate']);
    let endDateRef = ref(null);
    let pickerDate = ref({from: '', to: ''});
    const movies = ref();
    const pagination = ref({
      sortBy: 'desc',
      descending: false,
      page: route.query['page'] || 1,
      rowsPerPage: 20,
      rowsNumber: 20,
      totalCount: 0
    })
    let params = {
      ['page']: pagination.value.page,
      ['release_date.gte']: startDate.value,
      ['release_date.lte']: endDate.value,
    }
    const pagesNumber = ref(0);
    const imageBaseUrl = process.env.IMAGE_BASE_URL;

    function updateProxy() {
      if (!(startDateRef.value.hasError || endDateRef.value.hasError)) {
        pickerDate.value.from = startDate.value;
        pickerDate.value.to = endDate.value;
      }
    }

    function startRangeSelected(from) {
      const month = from.month < 10 ? ('0' + from.month.toString()) : from.month;
      const day = from.day < 10 ? ('0' + from.day.toString()) : from.day;
      startDate.value = `${from.year}-${month}-${day}`;
    }

    function endRangeSelected() {
      startDate.value = pickerDate.value.from;
      endDate.value = pickerDate.value.to;
    }

    function getAllMovies() {
      loading.value = true;
      movieService.getAllMovies(params)
        .then((result) => {
          movies.value = result.data.results
          pagination.value.totalCount = result.data.total_results
          pagination.value.page = result.data.page
          pagesNumber.value = result.data.total_pages
          updateRouterQuery()
          // pagination.value.totalCount = result.data.total_results
        })
        .catch((error) => {
          console.log("getAllMovies error")
          console.log(error)
        })
        .finally(() => {
          loading.value = false;
        })
    }

    getAllMovies();

    const onRequest = async (page) => {
      params.page = page;
      await getAllMovies();
    }
    const filterMovies = async () => {
      params.page = 1;
      params["release_date.gte"] = startDate.value
      params["release_date.lte"] = endDate.value
      await getAllMovies();
    }
    const updateRouterQuery = () => {
      const query = {
        page: pagination.value.page,
        startDate: startDate.value ? startDate.value : undefined,
        endDate: endDate.value ? endDate.value : undefined
      }
      router.replace({query})
    }
    const goToDetailPage = (movieID) => {
      const query = {
        movieID: movieID,
      }
      router.push({path: 'detail', query})
    }

    const showingResultsInfo = computed(() => {
      const from = ((pagination.value.page - 1) * pagination.value.rowsPerPage) + 1;
      const to = pagination.value.page * pagination.value.rowsPerPage;
      return (`${from}-${to > pagination.value.totalCount ? pagination.value.totalCount : to}`);
    })


    return {
      date,
      route,
      router,
      store,
      loading,
      startDate,
      startDateRef,
      endDate,
      endDateRef,
      pickerDate,
      movies,
      pagination,
      pagesNumber,
      imageBaseUrl,
      updateProxy,
      startRangeSelected,
      endRangeSelected,
      onRequest,
      filterMovies,
      updateRouterQuery,
      goToDetailPage,
      showingResultsInfo
    }
  }
})
</script>
