<template>
  <q-page class="flex flex-center">
    <div v-if="movieDetail" class="fit">
      <div class="row full-width justify-center items-center q-pa-md">
        <div class="search-box column col-12 col-sm-11 col-md-9 col-xl-7 q-px-md justify-center">
          <div class="row full-width items-center q-pa-md">
            <div class="col-12 col-sm-3 col-md-2 text-left">
              <q-btn color="primary" icon="arrow_back" label="back" rounded @click="router.go(-1)"/>
            </div>
            <div :class="$q.screen.lt.md ? 'q-mt-md' : ''" class="col-12 col-sm9 col-md-10">
              <div class="row">
                <span class="text-bold text-subtitle1">{{ movieDetail.title }}</span>
              </div>
              <div class="row">
                <span>{{ movieDetail.tagline }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row full-width justify-center q-mt-xl q-pa-md">
        <div class="col-12 col-sm-11 col-md-9 col-xl-7">
          <q-card class="fit" flat>
            <q-card-section :horizontal="$q.screen.gt.xs">
              <q-img
                :src="imageBaseUrl + movieDetail?.poster_path"
                class="col-12 col-sm-6 col-md-4"
                img-class="system-rounded-borders"
              />
              <q-card-section :class="$q.screen.gt.xs ? 'q-pl-xl' : ''"
                              class="column col-12 col-sm-6 col-md-8 justify-start">
                <div class="q-my-md row justify-between"><span
                  class="text-bold">Budget:</span>{{ convertNumToUsd(movieDetail.budget) }}
                </div>
                <div class="q-my-md row justify-between"><span
                  class="text-bold">Revenue:</span>{{ convertNumToUsd(movieDetail.revenue) }}
                </div>
                <div class="q-my-md row justify-between"><span
                  class="text-bold">Release Date:</span>{{ movieDetail.release_date }}
                </div>
                <div class="q-my-md row justify-between"><span
                  class="text-bold">Runtime:</span>{{ convertMinsToHrsMins(movieDetail.runtime) }}
                </div>
                <div class="q-my-md row justify-between"><span class="text-bold">Score:</span>
                  <span>
                  <span>
                <q-rating
                  v-model="movieDetail.vote_average"
                  :color="ratingColor(movieDetail.vote_average)"
                  :max="10"
                  icon="star_border"
                  icon-half="star_half"
                  icon-selected="star"
                  readonly
                  size="1em"
                />
                     <q-tooltip>{{ movieDetail.vote_average }}</q-tooltip>
                  </span>
                ({{ movieDetail.vote_count }} votes)
              </span>
                </div>
                <div class="q-my-md row justify-between"><span class="text-bold">Genres:</span>
                  <span>
                   <span v-for="(genre, index) in movieDetail.genres" :key="'genre'+index">
                     <span v-if="index!==0" class="">,</span> {{ genre.name }}
                   </span>
                </span>
                </div>
                <div class="q-my-md row justify-between"><span class="text-bold">IMDB Link:</span><a
                  :href="imdbBaseUrl + movieDetail.imdb_id" target="_blank">Link</a></div>
                <div class="q-my-md row justify-between"><span class="text-bold">Homepage Link:</span><a
                  :href="movieDetail.homepage" target="_blank">Link</a></div>
              </q-card-section>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="row full-width justify-center q-mb-xl q-mt-md q-pa-md">
        <div class="col-12 col-sm-11 col-md-9 col-xl-7">
          {{ movieDetail.overview }}
        </div>
      </div>
      <div v-if="movieCreditSorted" class="row full-width justify-center q-mb-xl q-pa-md">
        <div class="col-12 col-sm-11 col-md-9 col-xl-7">
          <span class="text-bold text-subtitle1">Credit:</span>
        </div>
        <div class="col-12 col-sm-11 col-md-9 col-xl-7">
        <span v-for="(cast, index) in movieCreditSorted.slice(0, 10)" :key="'genre'+index">
                     <span v-if="index!==0" class="">,</span> {{ cast.name }}
                   </span>
          <span v-if="movieCreditSorted.length > 10"> and {{ movieCreditSorted.length - 10 }} more.</span>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import {ref} from 'vue'
import {useRoute, useRouter} from 'vue-router'
import {movieService} from "src/services";
import {convertMinsToHrsMins, convertNumToUsd, ratingColor} from "src/helpers"

export default {
  name: "MovieDetails",
  setup() {
    const router = useRouter()
    const route = useRoute()
    const movieID = route.query['movieID'];
    let movieDetail = ref()
    let movieCredits = ref()
    let movieCreditSorted = ref()
    let loading = ref(false)
    const imageBaseUrl = process.env.IMAGE_BASE_URL;
    const imdbBaseUrl = process.env.IMDB_BASE_URL;

    function getMovieDetail() {
      loading.value = true;
      movieService.getMovieDetail(movieID)
        .then((result) => {
          movieDetail.value = result.data
        })
        .catch((error) => {
          console.log("getMovieDetail error")
          console.log(error)
        })
        .finally(() => {
          loading.value = false;
        })
    }

    function getMovieCredits() {
      loading.value = true;
      movieService.getMovieCredits(movieID)
        .then((result) => {
          movieCredits.value = result.data
          movieCreditSorted.value = result.data.cast.sort((a, b) => b.popularity - a.popularity)
        })
        .catch((error) => {
          console.log("getMovieCredits error")
          console.log(error)
        })
        .finally(() => {
          loading.value = false;
        })
    }

    getMovieDetail();
    getMovieCredits();

    return {
      router,
      route,
      movieDetail,
      movieCredits,
      movieCreditSorted,
      loading,
      imageBaseUrl,
      imdbBaseUrl,
      getMovieDetail,
      getMovieCredits,
      convertMinsToHrsMins,
      convertNumToUsd,
      ratingColor
    }
  }
}
</script>

<style scoped>

</style>
