// app global css in SCSS form
.top-bar{
  background: $accent;
  height: 48px;
}
.search-box, .movie-detail-header{
  min-height: 85px !important;
  margin-top: 69px;
}
.body-margin-top{
  margin-top: 60px;
}

.no-bottom-input .q-field__bottom{
  display: none;
}

.system-rounded-borders{
  border-radius: 12px;
}

.image-list-item{
  border-radius: 6px;
}
.image-list-item img{
  border-radius: 6px 0 0 6px;
}

.body--dark {
  .search-box, .movie-detail-header{
    background: var(--q-dark);
  }
}
.body--light {
  .search-box, .movie-detail-header{
    background: #CFCFCF;
  }
  .image-list-item{
    background: #F1F1F1;
  }
}
