<template>
  <router-view/>
</template>

<script>
import {defineComponent} from 'vue'
import {useSharedData} from 'stores/shared-data'

export default defineComponent({
  name: 'App',
  setup() {
    const store = useSharedData();
    store.getAllGenres();
    return {
      // you can return the whole store instance to use it in the template
      store
    }
  }
})
</script>
