<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="top-bar q-mb-xl" elevated>
      <q-toggle
        v-model="dark"
        checked-icon="dark_mode"
        :color="dark ? 'indigo' : 'amber'"
        label="Theme"
        unchecked-icon="light_mode"
        keep-color
        @click="toggleTheme"
      />
    </q-header>
    <q-page-container>
      <router-view />
      <!-- place QPageScroller at end of page -->
      <q-page-scroller position="bottom-left" :scroll-offset="150" :offset="[18, 18]">
        <q-btn glossy round icon="keyboard_arrow_up" color="accent" />
      </q-page-scroller>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'MainLayout',

  components: {

  },

  setup () {
    const $q = useQuasar()

    let dark = ref(JSON.parse(localStorage.getItem('dark')))
    if (dark.value === true){
      $q.dark.set(true)
    }

    const toggleTheme = () => {
      $q.dark.toggle()
      localStorage.setItem('dark' , JSON.stringify($q.dark.isActive) )
    }
    return {
      toggleTheme,
      dark,
    }
  }
})
</script>
